<html>
  <head>
    <title>Kitty Cat Day Spa<%= @title && ": #{@title}" %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="primary-content">
      <%= yield %>
    </div>
    <%= erb :footer %>
  </body>
</html>
